.Logged {
  width: 100%;
  height: 100vh;
}

.Main_header__setting_btn {
  font-size: 25px;
  cursor: pointer;
}

.Main_user_food {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  background-color: white;
}

.Main_user_food > form > input {
  width: 400px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 15px;
  border: 2px solid orange;
  border-radius: 7px;
}

.Main_user_food > form > input:focus {
  outline: none;
}

.Main_food_wrap {
  height: 294px;
  padding: 25px;
}

.foodItem_header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: grey;
  font-size: 14px;
}

.foodItem_itemLength {
  font-weight: bold;
}


.foodItem_header {
  margin-bottom: 10px;
}

.Main_food__manual {
  text-align: right;
  padding-right: 15px;
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 30px;
}

.Main_food__manual > span {
  cursor: pointer;
}

.foodItem {
  height: 250px;
  overflow-y: scroll;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.foodItem__list {
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.foodItem__list__number {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 10px;
  padding: 8px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #efefef;
}

.foodItem__list__item {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #efefef;
}

.foodItem__list__icon {
  padding-right: 10px;
  display: flex;
  align-items: center;
  color: grey;
}

.foodItem__list__selected {
  background-color: grey;
}

.foodItem__list__selected__icon {
  color: white;
}
