.Main_wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  background-color: slategray;
}

.Main {
  width: 430px;
  height: 700px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 30px auto 30px auto;
}

.Main_header {
  background-color: #efefef;
  height: 130px;
  border-radius: 5px;
}

.Main_menu_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 25px 25px 10px 25px;
  box-sizing: border-box;
}

.Main_header__title :nth-child(2) {
  font-size: 25px;
}

.Main_header__title :last-child {
  position: relative;
  bottom: 2px;
}

.Main_header__info {
  display: flex;
}

.Main_header__setting_btn {
  font-size: 25px;
  cursor: pointer;
}

.Main_header__userName {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.Main_user_food {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  background-color: white;
}

.Main_user_food > form > input {
  width: 400px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 15px;
  border: 2px solid orange;
  border-radius: 7px;
}

.Main_user_food > form > input:focus {
  outline: none;
}

.Main_food_wrap {
  height: 294px;
  padding: 25px;
}

.foodItem_header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: grey;
  font-size: 14px;
}

.foodItem_itemLength {
  font-weight: bold;
}

.foodItem_itemClear__btn {
  cursor: pointer;
}

.foodItem_header {
  margin-bottom: 10px;
}

.Main_food__manual {
  text-align: right;
  padding-right: 15px;
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 30px;
}

.Main_food__manual > span {
  cursor: pointer;
}

.foodItem {
  height: 250px;
  overflow-y: scroll;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.foodItem__list {
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.foodItem__list__number {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 10px;
  padding: 8px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #efefef;
}

.foodItem__list__item {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #efefef;
}

.foodItem__list__icon {
  padding-right: 10px;
  display: flex;
  align-items: center;
  color: grey;
}

.Main_food_randomResult {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 40px;
}

.Main_food_randomResult > button {
  width: 400px;
  height: 40px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: #ffde6a;
}

.active {
  color: black;
}
