.account_modal_header {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}

.account_section__login_title {
  text-align: center;
  font-size: 25px;
}

.login_section__login {
  text-align: center;
  font-size: 25px;
}

.Logged_header__userName {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
