.food_section {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  background-color: white;
}

.food_section > form > input {
  width: 70%;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 15px;
  border: 2px solid orange;
  border-radius: 7px;
}

.food_section > form > input:focus {
  outline: none;
}
