@keyframes fadeInBottomToTop {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.account_section {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  bottom: 0;
  border-radius: 20px 20px 5px 5px;
  padding: 30px;
  box-sizing: border-box;
  animation: fadeInBottomToTop 1s ease;
}
