@keyframes fadeInBottomToTop {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInLoginImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1s;
  }
}

.join_wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: slategray;
  overflow-y: auto;
}
.join_main {
  animation: fadeInLoginImg 2.5s ease;
}

.join_img_box {
  padding-top: 30px;
  text-align: center;
  position: absolute;
  width: 100%;
}

.join_img {
  width: 450px;
  height: 700px;
  border-radius: 5px;
}

.join_title {
  position: relative;
  text-align: center;
  color: white;
  font-size: 33px;
  font-weight: bold;
}

.join_title > div {
  position: relative;
  top: 7rem;
  right: 80px;
}

.join_title > :nth-child(2) {
  position: relative;
  top: 7rem;
  right: 43px;
  font-size: 40px;
}

.join_title :last-child {
  position: relative;
  top: 7rem;
  right: 30px;
}

.join_section {
  position: relative;
  width: 450px;
  height: 470px;
  background-color: #ffffff;
  top: 10.7rem;
  margin: auto;
  border-radius: 20px 20px 5px 5px;
  padding: 30px;
  box-sizing: border-box;
  animation: fadeInBottomToTop 1s ease;
}

.join_section_wrap {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}

.join_cancle__btn {
  text-align: end;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.join_section__login {
  text-align: center;
  font-size: 25px;
}

.join_name,
.join_email,
.join_password,
.join_password2 {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 5px 0px;
  margin-bottom: 15px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 17px;
  color: grey;
  font-weight: bold;
}

.join_name:focus,
.join_email:focus,
.join_password:focus,
.join_password2:focus {
  outline: none;
  border: 1px solid orange;
}

.join_btn {
  width: 395px;
  height: 45px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  background-color: #ffde6a;
  position: relative;
  right: 3px;
  margin-top: 10px;
}

.errorMsg {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}

.join_defaultLogin_wrap {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.join_defaultLogin_btn {
  cursor: pointer;
}
