.header_title {
  position: fixed;
  text-align: center;
  color: white;
  font-size: 33px;
  font-weight: bold;
  width: 100%;
}

.header_title > div {
  position: relative;
  top: 7rem;
  right: 80px;
}

.header_title > :nth-child(2) {
  position: relative;
  top: 7rem;
  right: 43px;
  font-size: 40px;
}

.header_title :last-child {
  position: relative;
  top: 7rem;
  right: 30px;
}

.Logged_header__title :nth-child(2) {
  font-size: 25px;
}

.Logged_header__title :last-child {
  position: relative;
  bottom: 2px;
}
